@model Lanche

<div class="col-sm-4 col-lg-4 col-md-4">
    <img src="@Model.ImagemUrl" height="200" width="200" class="card-img-top" />
    <div class="figure-caption">
        <h3>@Model.Preco.ToString("c")</h3>
        <h3>
            <a asp-controller="Lanche" asp-action="Details" asp-route-lancheId="@Model.LancheId">@Model.Nome</a>
        </h3>
        <p>@Model.DescricaoCurta</p>
    </div>
    <div class="addToCart text-right">
        <p class="button">
            <a class="btn btn-primary" id="cartButton" asp-controller="CarrinhoCompra" asp-action="AdicionarItemNoCarrinhoCompra" asp-route-lancheId="@Model.LancheId">
                Incluir no carrinho
            </a>
        </p>
    </div>
</div>